/* ---------------------------------------------------- */
body {
    font-family: "Roboto", sans-serif;

    background-color: var(--bacgrount-progject-color);
    color: #ffffff;
}

:root {
    --bacgrount-progject-color: rgba(20, 20, 20, 1);
    --accent-collor: #f25c05;
}
/* ------------------------CSS-RESET------------------- */
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.fulse-title {
    /* --скрытый заголовок */
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* ----------------------------------------------------- */
/* -------------------------- A L L ---------------- */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    /* outline: 1px solid olive; */
}

/* --------------------H E A D E R-------------- */
.header {
    border-bottom: 1px solid var(--accent-collor);
    padding-bottom: 8px;

    position: relative;
}

/* navigation---------------- */
.link-logo {
    display: block;
    margin-right: 100px;
    color: var(--accent-collor);
    padding: 5px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.nav-logo-text {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;

    color: currentColor;
}

.link-logo:hover,
.link-logo:focus {
    color: #ffffff;
}

.navigation {
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

.nav-link {
    position: relative;
    font-size: 18px;
    line-height: 0.85;
    color: currentColor;

    display: block;
    padding: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:focus,
.nav-item:hover {
    color: var(--accent-collor);
}

.nav-item:hover > .nav-link > .nav-svg-icon-down {
    fill: currentColor;
    opacity: 0;
}

.nav-item:hover > .nav-link > .nav-svg-icon-up {
    fill: currentColor;
    opacity: 1;
}

.nav-svg-icon-down {
    fill: currentColor;
    transform: rotate(180deg);
}

.nav-svg-icon-up {
    fill: currentColor;
}

.nav-svg-icon-up {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-list-btn {
    display: flex;
    margin-left: auto;
}

.nav-btn-item + .nav-btn-item {
    margin-left: 10px;
}

.btn-nav {
    padding: 0;

    width: 60px;
    height: 60px;

    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-nav:hover,
.btn-nav:focus {
    background-color: var(--accent-collor);
    color: #ffffff;
    border: 1px solid #ffffff;
}

.nav-svg-icon {
    fill: currentColor;
}

/* --------submenu */
.nav-item {
    position: relative;
    overflow: visible;
}

.nav-item:hover > .submenu-list {
    opacity: 1;
    transform: translate(10px, 0px);
    pointer-events: all;
}

.submenu-list {
    position: absolute;
    background-color: #c4c4c4;

    padding: 30px;
    width: 382px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transform: translate(10px, -300px);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-submenu-sets {
    margin-bottom: 20px;
}

.submenu-link:hover > .sets-category {
    color: #f25c05;
}

.submenu-link:hover > .sets-text {
    color: #5f412f;
}

.submenu-link::after {
    content: "";
    width: 250px;
    border-bottom: #000000 1px dashed;
    display: block;
    z-index: 2;
}

.sets-category {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.61;
    color: #000000;
}

.sets-text {
    font-size: 12px;
    line-height: 1.61;
    color: #000000;
}

/* ------------------------H E R R O----------- */
.hero {
    padding-top: 190px;
    padding-bottom: 65px;
    background-image: url(../img/background-hero.jpg);
    background-size: 1440px;
    background-position: center;
    background-repeat: no-repeat;
}

.herro-text-background {
    background-color: rgba(242, 92, 5, 0.5);
    backdrop-filter: blur(10px);
    max-width: 706px;
}

.hero-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.4;
    color: #ffffff;
    padding: 15px 34px;
}

/* -------------------E A T _ S U B M E N U---- */
.eat-submenu {
    padding-top: 75px;
    padding-bottom: 139px;
}

.eat-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.eat-item + .eat-item {
    margin-left: 10px;
}

.eat-item {
    box-shadow: 1px 2px 5px #000000;
    padding-bottom: 10px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.eat-item:hover {
    box-shadow: 1px 2px 15px #000000;
}

.eat-link-eat {
    display: block;
    max-width: 189px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
    color: #000000;

    padding-top: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 0.85;

    width: 189px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.eat-link-eat:hover,
.eat-link-eat:focus {
    background-color: #f25c05;
    color: #ffffff;
}

/* --------------------I N F O__C O O C K I N G--------- */
.info-cooking {
    padding-bottom: 80px;
}

.coock-block {
    display: flex;
    justify-content: space-evenly;
    /* outline: solid 1px #ffffff; */
}

.coock-text-block,
.coock-photo-block {
    width: calc((100% - 109px) / 2);
}

.coock-list {
    padding-left: 10px;
}

.coock-list {
    margin-left: 10px;
}

.coock-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 0.85;

    margin-bottom: 20px;
}

.coock-title-left {
    color: #ff8126;
}

.coock-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.53;
}

.coock-item + .coock-item {
    margin-top: 20px;
}

.coock-more-link {
    margin-top: 20px;
    display: block;
    background-color: #f25c05;
    text-align: center;
    padding: 24px;
    width: 262px;
    height: 78px;

    font-size: 24px;
    line-height: 1.24;
    color: #ffffff;

    box-shadow: 1px 2px 4px #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coock-more-link:hover,
.coock-more-link:focus {
    color: #000000;
    background-color: #ff8126;
    box-shadow: 2px 4px 8px #000000;
}

/* -----------------------A B O U T__F O O D--------------- */
.about-food {
    padding-bottom: 80px;
}

.about-food-list {
    display: flex;
    justify-content: space-around;
}

.about-food-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-food-bacground {
    margin-bottom: 20px;
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 50%;
}

.about-food-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-food-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
}
/* --------------------I N F O__H E A L T H__F O O D--------------- */

/* --------------------MENU--------------------------------------------------------------------- */
.herro-menu-healthfood {
    padding-top: 255px;
    padding-bottom: 47px;

    background-image: url(../img/hf-background-herro.jpg);
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: center;
}

.helthy-food-container-hero {
    background-color: rgba(242, 92, 5, 0.5);
    backdrop-filter: blur(10px);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.herro-hf-title {
    padding-top: 20px;
    padding-bottom: 20px;

    color: #000;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.17;
}

/* ------------menu-breacfest-------------------- */
.hf-breackfast {
    margin-top: 96px;
    border-top: 1px solid var(--accent-collor);
    padding-bottom: 42px;
}

.breackfest-hf-container {
    max-width: 320px;
    max-height: 136px;
    background: rgba(242, 92, 5, 0.5);
    backdrop-filter: blur(10px);
    margin-right: auto;
    margin-left: auto;
}

.breackfest-hf-title {
    padding-top: 16px;

    font-weight: 500;
    font-size: 48px;
    line-height: 1.16;
    text-align: center;
    color: #000000;
}

.breackfest-hf-text {
    padding-bottom: 16px;
    margin-bottom: 32px;

    font-size: 14px;
    line-height: 3.43;
    text-align: center;

    color: #000000;
}

/* menuuu----------- */

.hf-menu-container {
    border: 2px dashed #7b61ff;
    background-image: url(../img/hf-background-menu.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 79%;
    background-position-y: 36%;
}

.hf-breackfast-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.hf-breackfast-list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hf-breackfast-list-item:nth-child(even) {
    flex-direction: row-reverse;
}

.hf-breackfast-list-item:nth-child(even) .hf-breackfest-menu-text-card {
    flex-direction: row-reverse;
}

.hf-breackfast-list-item:nth-child(even)
    .hf-breackfest-menu-text-card
    .hf-breackfest-menutextcard {
    text-align: right;
}

.hf-breackfest-menu-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 0.97;
    text-align: center;
}

.hf-breackfest-menu-price {
    font-weight: 500;
    font-size: 36px;
    line-height: 0.81;
}

.hf-breackfest-menu-text-card {
    display: flex;
    flex-basis: calc(100% / 2 - 50px);
    border-bottom: dashed 2px #ffffff;
}

.hf-breackfest-menu-text {
    font-size: 24px;
    line-height: 2.08;
}

.hf-breackfest-menu-text {
    display: flex;
}

/* ---------------- S A L L E -------------------- */

.sale {
    padding-top: 160px;
    padding-bottom: 80px;
}

.sale-list {
    display: flex;
    flex-wrap: wrap;
}

.sale-item {
    border: #f25c05 solid 1px;
    width: calc(100% / 4 - 15px);
    box-shadow: 2px 4px 7px #000000;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sale-item:hover {
    box-shadow: 2px 7px 10px #000000, -2px 7px 10px #000000;
}

.sale-item + .sale-item {
    margin-left: 20px;
}

.sale-text-tumb {
    margin-top: 20px;
    margin-bottom: 31px;
    margin-left: 20px;
    margin-right: 20px;
}

.sale-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 15px;
}

.sale-text-price-tumb {
    margin-bottom: 15px;
    text-align: center;
}

.sale-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: #ff8126;
}

.sale-price-sale {
    font-size: 18px;
    line-height: 1.16;
    text-decoration-line: line-through;
    color: #656565;
}

.sale-link {
    padding-top: 10px;
    padding-bottom: 10px;

    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;

    color: #ffffff;
    text-decoration: none;

    background-color: #ff8126;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sale-link:hover,
.sale-link:focus {
    background-color: #f25c05;
    color: #000000;
    box-shadow: 1px 2px 3px #000000;
}

/* ---------------F O R M---------------- */
.form-container {
    padding: 44px 95px 48px;
    width: 860px;
    min-height: 545px;
    margin: 0 auto 0 auto;

    border: 1px solid #ffffff;
}

.form-text {
    margin-bottom: 60px;
}

.form-text-sup {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;

    color: #ffffff;
}

.form-text-sub {
    font-size: 14px;
    line-height: 3.43;
    text-align: center;

    color: #ffffff;
}

.input-container {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-reservation {
    width: 304px;
    height: 60px;

    padding: 7px 15px;
    border: none;
}

.input-reservation:nth-child(n + 3) {
    margin-top: 60px;
}

.btn-reservation {
    display: block;
    margin: 0 auto 0 auto;
    width: 329px;
    height: 58px;

    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
    text-align: center;
    color: #ffffff;

    border: none;
    background-color: #f25c05;
    box-shadow: 0px 4px 4px #000000;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-reservation:hover,
.btn-reservation:focus {
    background-color: #ff8126;
    color: #000000;
}

/* ------------------S O C I A L__L I N K--------------- */
.social-link-section {
    padding-bottom: 139px;
}

.social-link-container {
    border: 1px solid #ffffff;
    padding: 51px 334px;
}

.social-link-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 0.82;
    text-align: center;

    color: #ffffff;

    margin-bottom: 30px;
}

.social-link-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link-item + .social-link-item {
    margin-left: 30px;
}

.social-link {
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    padding: 15px;
    color: #000000;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color: #f25c05;
    color: #ffffff;
    box-shadow: 2px 2px 4px #000000, -2px 2px 4px #000000;
}

/* ---------F O T E R---------------- */
.footer {
    padding-bottom: 64px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
}

.footer-text-container {
    width: 344px;
}

.foot-menu-cont {
    width: 144px;
}

.footer-contact-container {
    width: 140px;
}

.footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.67;
    color: #ffffff;

    margin-bottom: 10px;
}

.footer-text {
    font-size: 18px;
    line-height: 2.14;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.footer-menu-title,
.footer-contact-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.58;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-menu-link {
    font-size: 18px;
    line-height: 2.58;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.tell-footer:hover,
.tell-footer:focus {
    color: #f25c05;
}

.tell-footer {
    font-size: 18px;
    line-height: 2.67;
    color: #ffffff;
}

.link-logo-footer {
    display: flex;
    flex-direction: column;

    font-family: Paprika;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #000000;
    background-color: #C4C4C4;
    padding: 30px 34px 50px;
    border-radius: 50%;
}
/*  250ms cubic-bezier(0.4, 0, 0.2, 1), */
